.table-detail thead{
    background: #000;
    color:#FFF;
}

.table-detail td.edit, .table-detail td.delete{
    text-align: center;
    font-size: 18px;
    color:#8A7E7E;
}

.table-detail td.edit:hover, .table-detail td.delete:hover{
    color: #000;
}

.table-detail td.edit span:hover, .table-detail td.delete span:hover{
    cursor: pointer;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #9E9D9D;
    border: 1px solid transparent;
}

table.dataTable thead .sorting.edit, 
table.dataTable thead .sorting_desc.edit, 
table.dataTable thead .sorting_asc.edit,
table.dataTable thead .sorting.delete,
table.dataTable thead .sorting_desc.delete,
table.dataTable thead .sorting_asc.delete{
    background-image: none;
    cursor: default;
    width: 5%;
}

table.dataTable td {
    border-bottom:1px solid #DDDADA;
}

.navbar h1, .navbar h5{
    display: inline-block;
    float: left;
}

.navbar button{
    float: right;
    margin: 10px;
}

.header-item{
    text-align: center;
}

.modal-header{
    background: #05B652;
    color: #FFF;
}

.modal-body label{
    text-align: right;
}

#main-form .form-group{
    text-align: right;
}

.form-group{
    max-height: 36px;
}

.green-icon{
    color: #16B830;
}

.red-icon{
    color: #E01424;
}

.icon{
    font-size: 18px;
}

.display_none{
    display: none;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
    background:#5DC250;
}


.bootstrap-switch{
    min-width: 80px;
}

.section_event{
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.btn-primary{
    text-shadow: 0px -1px 0px #020d12;
    color: #ffffff;
    background-color: #202B30;
    background-image: -moz-linear-gradient(top, #3e494e, #020d12);
    background-image: -ms-linear-gradient(top, #3e494e, #020d12);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3e494e), to(#020d12));
    background-image: -webkit-linear-gradient(top, #3e494e, #020d12);
    background-image: -o-linear-gradient(top, #3e494e, #020d12);
    background-image: linear-gradient(top, #3e494e, #020d12);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e494e', endColorstr='#020d12', GradientType=0);
    border-color: #202B30 #020d12 #020d12 #202B30;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #020d12;
    color: #e8f3f8;
    text-shadow: 0px -1px 0px #000000;
}

.btn-primary:active, .btn-primary.active {
    background-color: #666666;
}

/*ESTILOS PARA BOTONES
http://wrapbootstrap.com/preview/WB00T81AK
*/