/*opción "gráfica" del menú*/
/*.chart-option-selected{
    border: 1px solid #ccc;
}*/

.menu > li a.chart-option-selected{
    color: #FFF;
}

#chart{
    width:100%;
    margin: 10px 10px 30px 0px;
}

@media only screen and (max-width: 479px){
    #chart{
        margin: 0px 0px 0px 0px;
    }
}

.show-chart span{
    color: #100202;
}