.header-block{
    height: auto;
    width: 100%;
    display: table;

}

.header-block img{
    max-height: 100px;
    width: 100%;

}

.header-item{
    display:table-cell;
    float: none;
    text-align: right;
}

.copyright{
    color: #808080;
    margin-left: 5%;
}

.footer-content{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
}

.nav_button{
    text-align: center !important;
}

.nav_button a,
.nav_button button{
    margin: 0% 2%;
}

.section-head{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #DDD;
    text-align: left;
}

.section-head h2{
    width: auto;
    padding-left: 3%;
    display: inline-block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #df6c4f;
}

.section-block{
    display: inline-block;
    position: relative;
    width: 94%;
    height: auto;
    text-align: left;
    margin: 1% 3%;
}

.lbl_field{
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

.form-control{
    display: inline-block;
    width: 30%;
    min-width: 250px;
    vertical-align: text-top;
}

.lbl_field_chk{
    font-size: 14px;
    color: #555;
    font-weight: normal;
}

label {
    font-weight: normal;
}
.decription-fields{
    background-color: #FEFBED;
    margin: 1% 0%;
    padding: 10px 10px 15px 10px;
    border-right: 5px solid #F1E7BC;
    font-size: 12px;
    color: #A78B1A;
    text-align: justify;
}

.data-fields{
    margin: 1% 0%;
}

.input-field{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    vertical-align: text-top;
}

.section-head,
.pregunta_header{
    color: #357EBD;
}

.panel{
    -webkit-box-shadow:  0px 0px 5px 2px #dddddd;
    box-shadow:  0px 0px 5px 2px #dddddd;
}

.help-field{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    color: #27A727;
    text-shadow: 1px 1px 1px #C8E3C5;
}

.popover{
    font-size: 11px;
    text-align: justify;
}

.popover ul{
    margin: 0px;
    padding: 0px;
    padding-left: 14px;
}

.panel-primary > .panel-heading,
.modal-header{
    background: #22528B;
    color:#fff;
}

.modal-error{
    display: inline-table;
    position: relative;
    width: 100%;
    height: auto;
    text-align: justify;
}

.modal-error-row{
    display: table-row;
    position: relative;
    width: 100%;
    height: auto;
}

.modal-error-cell{
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.modal-body-content{
    color: #6D6D6D;
    background-color: #F7F7F7;
    border: 1px solid #76D637;
    border-radius: 4px;
    padding: 7px;
    font-size: 12px;
}

.modal-error p{
    margin: 0 0 5px;
}


@media all and (max-width: 550px) {
    .lbl_field {
        text-align: left;
        display: block;
        width: 100%;
    }

    .input-field,
    .form-control{
        width: 100%;
        min-width: 150px;
    }

}

.navbar-background{

    background: #4DBFBF;
}

.header-title{
    color: #4385C2;
    font-size: 50px;
    font-family: 'Adamina', serif;
    display: inline-block;
    float: right;
    margin: 20px;
}

.table-detail th, .table-detail td{
    padding: 5px;

}

.table-detail th{
    text-align: center;
}

.panel-heading{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.panel-heading h1{
    display: inline-block;
    position: relative;
    width: auto;
}

@media only screen and (max-width: 479px){
    .panel-heading h1{
        font-size: 1.1em;
        margin: 0.02em 0;
    }
    .panel-body{
        font-size: 12px;
        padding: 0px;
    }

    .header-item{
        display: block;
        float: none;
        text-align: center;
    }

    .platform_name{
        font-size: 30px !important;
    }
}

.table-detail tbody tr:hover{
    background-color: #CCC;
    color:#000;
}

.panel-primary{
    border: #EB5A57;
}

.panel-primary > .panel-heading{
    background: #05B652;
    border: #05B652;
}

a.list-group-item:hover{
    color: #fff;
    background: #9E9D9D;
}

.section-head{
    margin-bottom: 10px;
}

td.action{
    text-align: center;
}

td a span {
    color:#000;
}

td .glyphicon-pencil:hover{
    color:blue;
    cursor:pointer;
}

td .glyphicon-remove:hover{
    color:red;
    cursor:pointer;
}

.fltrow{
    text-align: center;
}

form label{
    width: 100px;
    color: #fff;
}

form button{
    margin: 10px;
}

form .buttons{
    margin-left: 100px;
}

.details h3{
    color:#fff;
}

.details hr{
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
}

.filterable{
    background: #fff;
}

.error_display{
    height: 40px;
    line-height:40px;
    background:transparent;
    position: absolute;
    top: 0px;
    width: 100%;
    display:none;
    color:#fff;
}