#menul-toggle, #menul{
    display: block;
}

#menul {
    transition: all 0.3s ease;
    position: fixed;
    width: 0%;
    top: 0;
    left: -200px;
    background: #FFF;
    height: 100%;
    z-index: 999;
    box-shadow: 0px 0px 10px black;
}

#menul-toggle {
    position: fixed;
    top: 20px;
    left: 0;
    background: #EB5A57;
    z-index: 1000;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease;
    color: #FFF;
    font-size: 14px;
    border: 1px solid #fff;
}
#menul-toggle:hover {
    cursor: pointer;
}
#menul.open {
    left: 0;
    width: 200px;
    display: block;
}
#menul-toggle.open {
    left: 200px;
}

a.list-group-item.selected{
    background-color: #CCC;
}


@media only screen and (max-width: 479px){
    #menul.open {
        left: 0;
        width: 120px;
        display: block;
    }
    #menul-toggle.open {
        left: 120px;
    }
    
    h3{
        font-size: 14px;
    }
}