div.DTTT_container {
    float: none;
    display: inline-block;
}

.button-tools{
    display: inline-block;
    text-align: right;
    width: 100%;
    max-height: 70px;
}

@media print{
    .navbar.navbar-default.navbar-background, #DataTables_Table_0_wrapper, 
    .button-tools, #modal, #error-modal, #menul-toggle{
        display: none;
    }
    .panel-primary, .panel-body, .panel-heading, .container, .content-main{
        border: transparent !important;
    }
    .container div{
        border-color: #fff;
    }   
}

@media only screen and (max-width: 479px){
    .button-tools a{
        font-size: 12px;
    }

    .button-tools{
        max-height: 280px;
        text-align: center;
    }

}

@media only screen and (max-width: 390px){
    .printchart{
        margin-bottom: 10px;
    }
}

.button.printchart{
    background-color: #1C8BC9;
}

.button.DTTT_button_pdf{
    background-color: #C52854;
}

.button.DTTT_button_xls{
    background-color: #3ABB73;
}

.button.printchart, .button.DTTT_button_pdf, .button.DTTT_button_xls{
    color: #fff;
    text-decoration: none;   
    border-radius: 4px;
}